.body{
    border: none;
    flex-direction: column;
    justify-content: space-between;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #008000;
    /* border: 5px solid black; */
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.icon_name{
    display: flex;
    list-style: none;
}
.icon{
    width: 150px;
    height: 150px;
}
.name{
    list-style: none;
    font-size: 50px;
    color: #000000	;
    display: inline;
}
.menu{
    display: flex;
    list-style: none;
    font-size: 50px;
    color: #000000	;
}
.type_menu{
    margin-right: 50px;
    list-style: none;
}
.regist{
    border-radius: 12px;
    margin-left: 30%;
    margin-top: 10%;
    /* background-color: #008000; */
    color: #000000;
    left: 30px;
    top: 30px;
    width: 400px;
    height: 260px;
    padding: 30px 20px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button{
    margin-top: 30px;
    font-size: 50px;
    border-radius: 12px;
    border: none;
    color: #000000 ;
 
}
.end{
    margin-top: 10%;
    color: black;
    background-color: #008000;
    font-size: 50px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
